* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#game {
    width: 40%;
    height: 15em;
}

.questions {
    width: 100%;
    height: 100%;
    border: ridge 10px rebeccapurple;
    border-radius: 20px;
    margin: 15px;
    background-color: #e39e80;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input {
    margin: 5px;
}

.reponse {
    width: 100%;
}

#quest2 {
    display: none;
}
#quest3 {
    display: none;
}
#quest4 {
    display: none;
}
#quest5 {
    display: none;
}
#quest6 {
    display: none;
}
#quest7 {
    display: none;
}
#quest8 {
    display: none;
}
#quest9 {
    display: none;
}
#quest10 {
    display: none;
}

p {
    margin: 20px;
}